.title{
font-size: 96px;
text-decoration: underline;
text-align: center;
font-weight: bold;
color: navy;
}

.title2{
font-size: 32px;
text-decoration: underline;
text-align: center;
font-weight: bold;
color: black;
}

#lady{
display: block; 
margin-left: auto; 
margin-right: auto;
height: 540px;
width: 364px;
border-style: solid;
border-color: blue;
}

#tiger{
display: block;
margin-left: auto;
margin-right: auto;
border-style: solid;
border-color: red;
}

.center{
text-align: center;
}

p 
{text-indent:50px;
}

